html {
    overflow-wrap: break-word;
}
body {
    font-family: Arial, Verdana, sans-serif;
    background-color: whitesmoke;
    color: #0E3F11;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 60px;
}

div {
    border-style: solid;
    border-radius: 25px;
    margin: 10px;
    padding: 10px;
}

.grid-container {
    width: fit-content;
    display: grid;
    grid-template-columns: auto auto;
    grid-column-gap: 5px;
    grid-row-gap: 20px;
    grid-template-areas:
            "a a"
            "b c";
}

button {
    background-color: lightyellow;
}

div#ruokalista {
    background-color: antiquewhite;
    grid-area: a;
    width: fit-content;
    justify-self: center;
}

div#parhaat {
    background-color: antiquewhite;
}

div#huonot {
    background-color: antiquewhite;
}

div#ruokahaku {
    background-color: antiquewhite;
    grid-area: c;
    justify-self: center;
    max-width: 500px;
}

div#top5 {
    grid-area: b;
    justify-self: center;
    max-width: 500px;
}

footer {
    height: 60px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    font-size: 80%;
    text-align: center;
    background-color: lightgoldenrodyellow;
}
input {
    width: 100%;
}
{
    box-sizing: border-box;
}

.slider {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 25px;
    background: #D3D3D3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: #FF0000;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: #FF0000;
    cursor: pointer;
}

.sliderticks {
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
}

.sliderticks p {
    position: relative;
    display: flex;
    justify-content: center;
    text-align: center;
    width: 1px;
    background: #D3D3D3;
    height: 10px;
    line-height: 40px;
    margin: 0 0 20px 0;
}